body {
    background-image: url(../Imagenes/fondoReg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.elCuerpo {
    position: relative;
    top: 50px;
}
