/* -- El nav -- */

.iniciolink:hover {
    padding-left: .5rem;
    border-radius: 5px;
    background-color: red;
}

.productoslink:hover {
    padding-left: .5rem;
    border-radius: 5px;
    background-color: blue;
}

.promoslink:hover {
    padding-left: .5rem;
    border-radius: 5px;
    background-color: green;
}

.nosotroslink {
    padding-left: .5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.712);
}